$foreword-margin: 10px;

.homepage-foreword
{
    max-width: 1024px;
    font-size:medium;
    margin-left:auto;
    margin-right: auto;
}

.table
{
    display: table;
    margin: auto;
    max-width: 800px;
}
