$rounding-radius: 15px;
$textbox-height: 105px;
$border-color: #006D75;

.article-thumbprint-container
{
    border-radius: $rounding-radius;
    border: 4px solid;
    border-color: $border-color;
    cursor: pointer;
    margin: 10px;
    background-color: #E6EDED;
    padding:30px;
}

.article-thumbprint-name
{
    font-size: large;
    font-weight: bold;
}

.article-thumbprint-time
{
    text-align: right;
    font-size:medium;
    margin-bottom: 10px;
    font-weight: bold;
}

.article-thumbprint-textbox
{
    font-size:medium;
    overflow: hidden;
    text-overflow: ellipsis;
    height: $textbox-height;
    white-space: pre-wrap;
    line-height:  1.6;
}

.article-thumbprint-read-more
{
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    color: $border-color;
}