<header>
    <div class="header-header">
    <h1 class="header-name">Povídkovník</h1>
    <img src="assets/feather_icon.svg" alt="Feather icon" class="header_icon">
    <img src="assets/stopwatch_icon.svg" alt="Stopwatch icon" class="header_icon">
    <img src="assets/open_book_icon.svg" alt="Open book icon" class="header_icon">
    <div class="header-subheader"> 
        Nová povídka každých 14 dní
    </div>
    </div>
</header>
<div class="spacer"></div>
<div class="header-separator"></div>
<router-outlet></router-outlet>
<div class="spacer"></div>
<footer>
    <div class="footer-container">
        Založeno 2022
    </div>
</footer>
