$background-color: MintCream;

html {
    margin:0;
    padding:0;
}

body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: $background-color;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

ul
{
    list-style-type: none;
    padding-left: 0pt;
}

li
{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

button
{
    cursor: pointer;
}